{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log In{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Log In</h1>
</div>
<div class="row">
  <div class="col-md-6">
      {{ wtf.quick_form(form) }}
      <br>
      <p>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
  </div>
  <div class="col-md-6 text-justify">
      <p class="font-weight-bold text-center">What is Stonks?</p>
      <p class="font-weight-light">Stonks is a fun and safe way to practice investing money in the stock market.
      When you create an account with Stonks, you are given a fictional $1,000, which you can then invest however your heart desires.
      Stonks gives you the opportunity to compete against yourself and a community of users, and to hone your investing skills in a competetive yet forgiving environment.
      So, go ahead - make an account and get started on your investing career!</p>
  </div>
</div>
{% endblock %}
