{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Research{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Research</h1>
</div>
<div class="container">
    <h3>Enter the symbol of the stonk you would like to research!</h3><br>
    {{ wtf.quick_form(form) }} <br>

    {% if symbol %}
      <script>
        var val = '{{symbol}}';
        var url = 'https://finance.yahoo.com/quote/'+val;
        window.open(url, '_blank');
      </script>
    {% endif %}

</div>
<div class="page-header">
    <h1>Here are some useful links</h1>
</div>
<div class="container">
  <ul>
    <li><a href="https://finance.yahoo.com/most-active" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary my-2 w-25" role="button">Most traded</a></li>
    <li><a href="https://finance.yahoo.com/trending-tickers" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary my-2 w-25" role="button">Trending stonks</a></li>
    <li><a href="https://finance.yahoo.com/gainers" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary my-2 w-25" role="button">Biggest gainers</a></li>
    <li><a href="https://finance.yahoo.com/losers" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary my-2 w-25" role="button">Biggest losers</a></li>
    <li><a href="https://finance.yahoo.com/cryptocurrencies" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary my-2 w-25" role="button">Cryptocurrencies</a></li>
  </ul>

</div>

<div class="page-header">
</div>
<div class="container">
    Return to <a href="/stonks/trade">trade</a> menu
</div>
{% endblock %}
