{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Leaderboard</h1>
</div>
<div class="container">

    <div class="row font-weight-bold">
        <div class="col">Rank</div>
        <div class="col">Portfolio Value</div>
        <div class="col">Username</div>
    </div>
    <div class="divider"></div>

    {% set count = namespace(value=1) %}
    {% for row in lb %}
        <div class="row">
            <div class="col">
                {{ count.value }}
            </div>
            {% for col in row %}
            <div class="col">
                {{ col }}
            </div>
            {% endfor %}
            {% set count.value = count.value + 1 %}
        </div>
    {% endfor %}
</div>
{% endblock %}
